<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 注入 solrServer -->
	
	<!-- 单机版solrJ -->
	<bean id="httpSolrServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
		<constructor-arg name="baseURL" value="${baseURL}" />
	</bean>
	
	<!-- 集群版solrJ -->
<!-- 	<bean id="cloudSolrServer" class="org.apache.solr.client.solrj.impl.CloudSolrServer"> -->
<!-- 		<constructor-arg name="zkHost" value="${zkHost}" /> -->
<!-- 		<property name="defaultCollection" value="${defaultCollection}" /> -->
<!-- 	</bean> -->
</beans>
