<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 组件扫描 扫描所有标记@Service类 -->
	<context:component-scan base-package="cn.e3mall.sso.service" />
	
	<!-- 使用 dubbo 发布服务 -->
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="e3-sso" /> <!-- 发布方名称 -->
	<!-- 注册中心 -->
	<dubbo:registry protocol="zookeeper" address="192.168.21.101:2181" />
	<!-- 用 dubbo 协议在20880端口暴露服务，dubbo服务默认端口20880 -->
	<dubbo:protocol name="dubbo" port="20883" />
	<dubbo:provider timeout="60000" />
	<!-- 声明需要暴露的服务接口 引用注入的service-->
	<dubbo:service interface="cn.e3mall.sso.service.TbUserService" ref="tbUserServiceImpl" />
	<dubbo:service interface="cn.e3mall.sso.service.TokenService" ref="tokenServiceImpl" />	
</beans>
