<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="applicationContext-trans.xml"/>
	
	<!-- 连接 redis 单机版 切换时注释掉 -->
	<bean id="jedisClientPool" class="cn.e3mall.common.jedis.JedisClientPool">
		<property name="jedisPool" ref="jedisPool" />
	</bean>
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg name="host" value="${host}" />
		<constructor-arg name="port" value="${port}" />
	</bean>
	
	<!-- 连接 redis 集群版 -->
<!-- 	<bean id="jedisClientCluster" class="cn.e3mall.common.jedis.JedisClientCluster"> -->
<!-- 		<property name="jedisCluster" ref="jedisCluster" /> -->
<!-- 	</bean> -->
<!-- 	<bean id="jedisCluster" class="redis.clients.jedis.JedisCluster"> -->
<!-- 		<constructor-arg name="nodes"> -->
<!-- 			<set> -->
<!-- 				<bean class="redis.clients.jedis.HostAndPort"> -->
<!-- 					<constructor-arg name="host" value="${cluster.host}" /> -->
<!-- 					<constructor-arg name="port" value="${cluster1.port}" /> -->
<!-- 				</bean> -->
<!-- 				<bean class="redis.clients.jedis.HostAndPort"> -->
<!-- 					<constructor-arg name="host" value="${cluster.host}" /> -->
<!-- 					<constructor-arg name="port" value="${cluster2.port}" /> -->
<!-- 				</bean> -->
<!-- 				<bean class="redis.clients.jedis.HostAndPort"> -->
<!-- 					<constructor-arg name="host" value="${cluster.host}" /> -->
<!-- 					<constructor-arg name="port" value="${cluster3.port}" /> -->
<!-- 				</bean> -->
<!-- 				<bean class="redis.clients.jedis.HostAndPort"> -->
<!-- 					<constructor-arg name="host" value="${cluster.host}" /> -->
<!-- 					<constructor-arg name="port" value="${cluster4.port}" /> -->
<!-- 				</bean> -->
<!-- 				<bean class="redis.clients.jedis.HostAndPort"> -->
<!-- 					<constructor-arg name="host" value="${cluster.host}" /> -->
<!-- 					<constructor-arg name="port" value="${cluster5.port}" /> -->
<!-- 				</bean> -->
<!-- 				<bean class="redis.clients.jedis.HostAndPort"> -->
<!-- 					<constructor-arg name="host" value="${cluster.host}" /> -->
<!-- 					<constructor-arg name="port" value="${cluster6.port}" /> -->
<!-- 				</bean> -->
<!-- 			</set> -->
<!-- 		</constructor-arg> -->
<!-- 	</bean> -->
</beans>
