<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.e3mall.manager.dao.TbItemMapper">
  <resultMap id="BaseResultMap" type="cn.e3mall.manager.pojo.TbItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sell_point" jdbcType="VARCHAR" property="sellPoint" />
    <result column="price" jdbcType="BIGINT" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="cid" jdbcType="BIGINT" property="cid" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.e3mall.manager.pojo.TbItem">
    insert into tb_item (id, title, sell_point, 
      price, num, barcode, 
      image, cid, status, 
      created, updated)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{sellPoint,jdbcType=VARCHAR}, 
      #{price,jdbcType=BIGINT}, #{num,jdbcType=INTEGER}, #{barcode,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{cid,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.e3mall.manager.pojo.TbItem">
    update tb_item
    set title = #{title,jdbcType=VARCHAR},
      sell_point = #{sellPoint,jdbcType=VARCHAR},
      price = #{price,jdbcType=BIGINT},
      num = #{num,jdbcType=INTEGER},
      barcode = #{barcode,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, title, sell_point, price, num, barcode, image, cid, status, created, updated
    from tb_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, title, sell_point, price, num, barcode, image, cid, status, created, updated
    from tb_item
  </select>
  
  <update id="updateRemove">
	UPDATE tb_item ti
	SET ti.status = 3, ti.updated = NOW()
	WHERE ti.id IN
	(
		<foreach collection="itemIds" item="id" separator=",">
			#{id}
		</foreach>
	)
  </update>
  
  <update id="updateInstock">
	UPDATE tb_item ti
	SET ti.status = 2, ti.updated = NOW()
	WHERE ti.id IN
	(
		<foreach collection="itemIds" item="id" separator=",">
			#{id}
		</foreach>
	)
  </update>
  
  <update id="updateReshelf">
	UPDATE tb_item ti
	SET ti.status = 1, ti.updated = NOW()
	WHERE ti.id IN
	(
		<foreach collection="itemIds" item="id" separator=",">
			#{id}
		</foreach>
	)
  </update>
</mapper>