<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.e3mall.manager.dao.TbUserMapper">
  <resultMap id="BaseResultMap" type="cn.e3mall.manager.pojo.TbUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.e3mall.manager.pojo.TbUser">
    insert into tb_user (id, username, password, 
      phone, email, created, 
      updated)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.e3mall.manager.pojo.TbUser">
    update tb_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, username, password, phone, email, created, updated
    from tb_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, password, phone, email, created, updated
    from tb_user
  </select>
  
  <select id="selectByParam" resultMap="BaseResultMap">
  	<!-- 参数类型 - 1:用户名, 2:手机, 3:邮箱 -->
	SELECT tu.*
	FROM tb_user tu
	<where>
		<if test="type == 1">
			tu.username = #{param}
		</if>
		<if test="type == 2">
			tu.phone = #{param}
		</if>
		<if test="type == 3">
			email = #{param}
		</if>
	</where>
  </select>
  
  <select id="findByUserNameAndPassword" resultMap="BaseResultMap">
	SELECT tu.*
	FROM tb_user tu
	WHERE (tu.username = #{username} OR tu.phone = #{username} OR tu.email = #{username})
	AND tu.password = #{password}
  </select>
</mapper>