<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
						http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
						http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 组件扫描 扫描所有标记@Controller类 -->
	<context:component-scan base-package="cn.e3mall.manager.controller" />
	
	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:conf/*.properties"/>
	
	<!-- 引用 dubbo 服务 -->
	<dubbo:application name="e3-manager-web" />
	<!-- 注册中心 -->
	<dubbo:registry protocol="zookeeper" address="192.168.21.101:2181" />
	<!-- 消费服务 -->
	<dubbo:reference interface="cn.e3mall.manager.service.TbItemService" id="tbItemServiceManager" />	
	<dubbo:reference interface="cn.e3mall.manager.service.TbItemCatService" id="tbItemCatServiceManager" />
	<dubbo:reference interface="cn.e3mall.manager.service.TbItemDescService" id="tbItemDescServiceManager" />
	<dubbo:reference interface="cn.e3mall.content.service.TbContentCategoryService" id="tbContentCategoryServiceContent" />
	<dubbo:reference interface="cn.e3mall.content.service.TbContentService" id="tbContentServiceContent" />
	<dubbo:reference interface="cn.e3mall.search.service.TbItemService" id="tbItemServiceSearch" />
	
	<!-- 内部视图解析器 --> 
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 配置多媒体解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置默认编码，默认编码为"ISO-8859-1" -->
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 设置文件上传的最大值 5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="5242880" />
	</bean>
	
 	<!-- 配置资源映射 请求的url如果包含css，到/css/下面找 -->
	<!-- <mvc:default-servlet-handler/> 用这种方式，需要在web.xml配置，静态资源-->
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	
	<!-- 注解驱动 -->
	<mvc:annotation-driven>
		<!-- 使用FastJson解析json -->
		<mvc:message-converters register-defaults="true">
			<bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
				<property name="fastJsonConfig" ref="fastJsonConfig" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<bean id="fastJsonConfig" class="com.alibaba.fastjson.support.config.FastJsonConfig">
		<property name="serializerFeatures">
			<array value-type="com.alibaba.fastjson.serializer.SerializerFeature">
				<value>WriteDateUseDateFormat</value>
				<value>WriteMapNullValue</value>
				<value>WriteNullListAsEmpty</value>
				<value>WriteNullStringAsEmpty</value>
				<value>DisableCircularReferenceDetect</value>
			</array>
		</property>
	</bean>
	
</beans>
